<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" 
          >
           
    <bean id="userManager" class="com.example.spring.UserManagerImpl"/>

    <bean id="securityHandler" class="com.example.spring.SecurityHandler"/>
    
    <aop:config>
		<aop:aspect id="securityAspect" ref="securityHandler">
			<!--
			以add开头的方法 
			<aop:pointcut id="addAddMethod" expression="execution(* add*(..))"/>
			 -->
			 <!-- 
			 com.bjpowernode.spring包下所有的类所有的方法
			<aop:pointcut id="addAddMethod" expression="execution(* com.example.spring.*.*(..))"/>
			 --> 
			<aop:pointcut id="addAddMethod" expression="execution(* com.example.spring.*.add*(..)) || execution(* com.example.spring.*.del*(..))"/> 
			<aop:before method="checkSecurity" pointcut-ref="addAddMethod"/>
		</aop:aspect>
	</aop:config>
	
</beans>
